*{
    /*background-color: grey;*/
    font-family: 'Roboto', sans-serif;
    
}
.common{
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #3498db, #87CEFA); /* Adjust the gradient colors */

    color: white;
}

header{
    text-align: center;
}

.images{
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height:  200px;
}
.title{
    text-align: center;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .sub-section {
    height: 300px;
    width: 50%;
    display: inline-block;
  }